@model ClubsGestionLastVersion.Models.Evenement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evenement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomEvenement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomEvenement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEvenement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEvenement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Club.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EvenementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
